<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/style.css"> --}}
    <title>Document</title>
</head>
<body>

    {{#if user.admin }}
    <b>Welcome to CSET Platfom</b>

<form action="./page2">
    <input type="submit" value="+ new assmement" class="bt" />
</form>
<b> Open previous assmement:</b>

<br>
<p>{{ user.admin }}</p>
  <p>{{ user.username }}</p>
   <p>{{ user.id }}</p>



<br>

      
            {{#each test}}
       
         {{this.date}} <br>
          
            </tr>
            {{/each}}

             {{else }} 
             
             {{!-- {{ user.username }} --}}
             <button onclick="category()">start ></button>
                            {{!-- location.replace("{{ user.username }}") --}}

             <script>
function category() {
   
                            location.replace("{{ user.username }}")

}
</script>
         {{!-- if( "{{ user.username }}" =="google" ) {
location.replace("user1")
}    --}}

 
 {{/if}}

                



        
</body>
</html>